<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Регистрация</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
		<!-- Путь к вашим стилям -->
	</head>
	<body>
		<form method="POST">
			{% csrf_token %}
			<h2 class="registration-title">Регистрация</h2>
			<input
				type="text"
				name="username"
				placeholder="Имя пользователя"
				required
			/>
			<input type="password" name="password" placeholder="Пароль" required />
			<button type="submit">Зарегистрироваться</button>

			<div class="account-message">
				<p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
			</div>
		</form>
	</body>
</html>
